.m {
  width: 84%;
}

@media screen and (max-width: 959px) {
  .icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .m {
    width: 88%;
  }

  .list-container {
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }

  .list-container .category-left {
    flex: 2 !important;
    align-items: center;
  }

  .category-right {
    align-items: center !important;
  }

  .rightPart {
    display: none !important;
  }

  .centerPart {
    flex: 2 !important;
  }

  .showTab {
    display: block !important;
  }
}

@media screen and (max-width: 639px) {
  .m {
    width: 90%;
  }

  .category-intro {
    display: none;
  }

  .category-right {
    flex: 2 !important;
  }
}
